.topMargin {
    padding-top: 50px;
}

.panel-primary {
    border-color: black !important;
}

.panel-heading {
    background-color: black !important;
}

.btn-primary {
    background-color: black !important;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}
