.topMargin {
    padding-top: 50px;
}

.panel-primary {
    border-color: black !important;
}

.panel-heading {
    background-color: black !important;
}

.btn-primary {
    background-color: black !important;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

/*CSS for project list*/
.pointer{
	cursor: pointer;
}

.project-block {
    border: 1px solid #adadad;
    background-color: #f0f0f0;
    border-radius: 5px;
    position: relative;
    margin-bottom: 30px;
    margin-top: 30px;
}

.project-block-title {
    height: 55px;
    font-size: 18px;
    padding: 5px;
    overflow: hidden;
    border-bottom: 1px solid #e0e0e0;
}

.project-block-label {
    height: 30px;
    margin-top: 15px;
    font-size: 16px;
    padding: 5px;
    overflow: hidden;
    font-weight: bold;
    font-family: "Comic Sans MS", sans-serif;
}

.project-block-text {
    height: 30px;
    margin-top: 15px;
    font-size: 16px;
    padding: 5px;
    overflow: hidden;
}

.project-block-short-description {
    height: 75px;
    padding: 5px;
    font-size: 16px;
    overflow: hidden;
    border-bottom: 1px solid #e0e0e0;
}

.project-block-long-description {
    height: 100px;
    padding: 5px;
    font-size: 12px;
    overflow: hidden;

}

.project-block-media {
    height: 250px;
    margin: 15px;
    background: #EEEEEE url('../images/placeholder-800x800.png') no-repeat center;
}

.project-button {
    -webkit-appearance: none;
    outline: none;
    border: 0;
    background: transparent;
    font-size: 40px;
    margin: 15px;
    color: #f0ad4e;
}

.likes-number {
    font-size: 24px;
    margin-top: 20px;
    font-weight: bold;
}

.btn-warning-detail {
    margin-top: 20px;
}

.btn-danger-detail {
    margin-top: 20px;
}
