<div class="centerText">
	<img src="http://www.pxl.be/img/logo.png" alt="Cinque Terre">
	<!-- <h2>{{"views.about.title" | translate}}</h2> -->
</div>
<div class="col-md-offset-3 col-md-6 centerText">
	<h2>{{"views.about.description" | translate}}</h2>
	<span>{{"views.about.description_message" | translate}}</span>

	<h2>{{"views.about.technical" | translate}}</h2>
	<span>{{"views.about.technical_message" | translate}}</span>
</div>
<div class="centerText col-md-12">
	<h3>{{"views.about.madeBy" | translate}}</h3>
	<h4>Bart Hunerbein</h4>
	<h4>Niek Vandael</h4>
	<h4>Jesse Vranken</h4>
	<h4>Dennie Grondelaers</h4>
	<h4>Arjen Schuurman</h4>
</div>