
<div style="text-align: center;">
	<img src="http://www.pxl.be/img/logo.png" alt="Cinque Terre">
	<h2>{{"views.about.title" | translate}}</h2>

	<h3>{{"views.about.madeBy" | translate}}</h3>
	<h4>Niek Vandael</h4>
	<h4>Jesse Vranken</h4>
	<h4>Dennie Grondelaers</h4>
	<h4>Arjen Schuurman</h4>
</div>

<div style="text-align: left; padding: 50px;">
	<h2 style="text-align: center;">{{"views.about.description" | translate}}</h2>
	<span>{{"views.about.description_message" | translate}}</span>

	<h2 style="text-align: center;">{{"views.about.technical" | translate}}</h2>
	<span>{{"views.about.technical_message" | translate}}</span>
</div>

<div style="height:50px;"></div>