<div class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<div class="input-group">
				<span class="input-group-btn"> <tags-input ng-model="tags"
						add-on-paste="true" style="display:inline;"
						placeholder="{{ 'views.home.search' | translate }}"> <auto-complete
						source="loadTags($query)"></auto-complete> </tags-input>
				</span>
			</div>
		</div>
	</div>
	<div class="row" ng-show="authenticated && (role === 'Docent')" >
		<div class="col-md-6 col-md-offset-3">
			<div class="input-group">
				<input type="checkbox" ng-model="showProjectsICanBack">{{"views.home.projectsICanBack" | translate}}</input>
			</div>
		</div>
	</div>
	
	<div class="row" ng-show="authenticated && (role === 'Student')" >
		<div class="col-md-6 col-md-offset-3">
			<div class="input-group">
				<input type="checkbox" ng-model="showProjectsICanEnroll">{{"views.home.showProjectsICanEnroll" | translate}}</input>
			</div>
		</div>
	</div>
	
	<div class="emptyListText" ng-show="!filteredProjects.length && loadingDone">{{"views.myProjects.noProjects" | translate}}</div>
	<div ng-hide="loadingDone"  align="middle">
		<img ng-src="images/page-loader.gif" style="width:100px; margin: 50px;"/>
	</div>
	
	<div class="project-block" ng-repeat="project in filteredProjects = (projects | filter:tagFilter | filter:backFilter | filter:enrollFilter)">
		<div ng-click="showDetails(project.projectId)" class="project-block-title pointer">{{ project.title }}
				<img ng-if="project.running" ng-src="images/progress.png" style="width:30px; margin: 5px; float: right;"/>
		</div>
		
		<div ng-if="authenticated && (role === 'Docent')">
			<div class="progress">
				 <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{ project.backingPct }}" aria-valuemin="0" aria-valuemax="100" style="width:{{ project.backingPct > 100 && 100 || project.backingPct }}%">
				      <span ng-if="project.backingPct != 0">{{ project.backingPct }}%  {{"views.home.backed" | translate}}</span>
				 </div>
				<div ng-if="project.backingPct == 0" style="width:100%;text-align: center;">{{ project.backingPct }}%  {{"views.home.backed" | translate}}</div>
			</div>

			<div ng-if="project.backingPct > 99" class="progress">
				 <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{ (project.takenSeats / project.wantedSeats * 100) }}" aria-valuemin="0" aria-valuemax="100" style="width:{{ (project.takenSeats / project.wantedSeats * 100) }}%">
				     <span ng-if="project.takenSeats != 0">{{ project.wantedSeats - project.takenSeats }} {{"views.home.seatsAvailable" | translate}}</span>
				 </div>
				 <div ng-if="project.takenSeats == 0" style="width:100%;text-align: center;">{{"views.home.noSubscribers" | translate}}</div>
			</div>
		</div>
		
		<div ng-if="authenticated && (role === 'Student')">
			<div class="progress">
				 <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{ (project.takenSeats / project.wantedSeats * 100) }}" aria-valuemin="0" aria-valuemax="100" style="width:{{ (project.takenSeats / project.wantedSeats * 100) }}%">
				     <span ng-if="project.takenSeats != 0">{{ project.wantedSeats - project.takenSeats }} {{"views.home.seatsAvailable" | translate}}</span>
				 </div>
				 <div ng-if="project.takenSeats == 0" style="width:100%;text-align: center;">{{"views.home.beTheFirstToSubscribe" | translate}}</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-md-5">
				<div class="project-block-media img-responsive img-rounded" ng-if="project.pictures.length == 0"></div>
				<img class="project-block-media img-responsive img-rounded"
					ng-src="data:image/jpeg;base64, {{ project.pictures[0].bytes }}"
					ng-if="project.pictures[0].bytes !== undefined"
					style="margin-left: auto; margin-right: auto" />
			</div>
			<div class="col-md-7">
				<div class="project-block-label">{{"views.home.shortDescription"
					| translate}}</div>
				<div class="project-block-short-description">{{
					project.shortDescription }}</div>

				<div class="project-block-label col-xs-4">{{"views.home.createdBy"
					| translate}}</div>
				<div class="project-block-text col-xs-8">{{project.user.firstname
					+ ' ' + project.user.lastname}}</div>

				<div ng-if="authenticated && project.duration && !project.startDate" class="project-block-label col-xs-4">{{"views.home.duration"
					| translate}}
				</div>
				<div ng-if="authenticated && project.duration && !project.startDate" class="project-block-text col-xs-8">{{project.duration}}
				</div>

				<div ng-if="authenticated && project.startDate" class="project-block-label col-xs-4">{{"views.home.startDate"
					| translate}}
				</div>
				<div ng-if="authenticated && project.startDate" class="project-block-text col-xs-8">{{project.startDate | date:'yyyy-MM-dd HH:mm:ss'}}
				</div>
				
				<div ng-if="authenticated && project.endDate" class="project-block-label col-xs-4">{{"views.home.endDate"
					| translate}}
				</div>
				<div ng-if="authenticated && project.endDate" class="project-block-text col-xs-8">{{project.endDate | date:'yyyy-MM-dd HH:mm:ss'}}
				</div>
				
				<div class="post-tag" ng-repeat="category in project.categories">{{ category.description }}</div>
			</div>
		</div>

		<div class="row">
			<div class="row col-xs-offset-2">
				<div ng-if="authenticated && project.liked"
					class="project-button glyphicon glyphicon-star col-xs-1"
					ng-click="likeClicked(project)"></div>
				<div ng-if="authenticated && !project.liked"
					class="project-button glyphicon glyphicon-star-empty col-xs-1"
					ng-click="likeClicked(project)"></div>
				<div ng-if="!authenticated"
					class="project-button glyphicon glyphicon-star col-xs-1"></div>

				<div ng-if="project.numberOfLikes" class="likes-number col-xs-2">{{project.numberOfLikes}}</div>
				<div ng-if="!project.numberOfLikes" class="likes-number col-xs-2">0</div>

				<button type="button"
					class="btn btn-warning btn-warning-detail col-xs-4 col-md-2 col-xs-offset-1 col-md-offset-2"
					ng-click="showDetails(project.projectId)">{{"views.home.details" | translate}}</button>
			
				<div style="float: left" ng-if="project.public">
					<ul class="ulSocialMedia">
					    <li>
							<a  href="#"
								socialshare
								socialshare-provider="facebook"
					   			socialshare-via="1102503169807746"
							    socialshare-type="feed"
								socialshare-text="{{ project.title }}"
								socialshare-caption ="{{ project.title }}"
							    socialshare-caption="{{ project.title }}"
								socialshare-hashtags="pxl"
								socialshare-url="{{ location }}/#/projects/{{ project.projectId }}"
								socialshare-redirect-uri="{{ location }}/#/projects/{{ project.projectId }}"
								>
								<span class="fa-stack fa-2x">
								  <i class="fa fa-facebook"></i>
						  		</span>
							</a>
						</li>
					   	<li>
							<a  href="#"
								socialshare
								socialshare-provider="twitter"
								socialshare-text="{{ project.title }}"
								socialshare-hashtags="pxl"
								socialshare-url="{{ location }}/#/projects/{{ project.projectId }}">
								<span class="fa-stack fa-2x">
								  <i class="fa fa-twitter"></i>
						  		</span>
							</a>
						</li>
					   	<li>
							<a  href="#"
								socialshare
								socialshare-provider="linkedin"
								socialshare-text="{{ project.title }}"
								socialshare-hashtags="pxl"
								socialshare-url="{{ location }}/#/projects/{{ project.projectId }}">
								<span class="fa-stack fa-2x">
								  <i class="fa fa-linkedin"></i>
						  		</span>
							</a>
						</li>
					   	<li>
							<a  href="#"
								socialshare
								socialshare-provider="google"
								socialshare-text="{{ project.title }}"
								socialshare-hashtags="pxl"
								socialshare-url="{{ location }}/#/projects/{{ project.projectId }}">
								<span class="fa-stack fa-2x">
								  <i class="fa fa-google-plus"></i>
						  		</span>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
