<div class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<div class="input-group">
				<input type="text" class="form-control" ng-model="search.title"
					placeholder="Search for..."> <span class="input-group-btn">
					<button class="btn btn-default" type="button">{{"views.home.search"
						| translate}}</button>
				</span>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<div class="input-group">
				<span class="input-group-btn"> <tags-input ng-model="tags"
						add-on-paste="true" style="display:inline;"
						placeholder="Search by tag..."> <auto-complete
						source="loadTags($query)"></auto-complete> </tags-input>
				</span>
			</div>
		</div>
	</div>
	<div class="row" ng-show="authenticated && (role === 'Docent')" >
		<div class="col-md-6 col-md-offset-3">
			<div class="input-group">
				<input type="checkbox" ng-model="showOnlyNonBacked">{{"views.home.projectsICanBack" | translate}}</input>
			</div>
		</div>
	</div>
	
	<div class="row" ng-show="authenticated && (role === 'Student')" >
		<div class="col-md-6 col-md-offset-3">
			<div class="input-group">
				<input type="checkbox" ng-model="showProjectsICanEnroll">{{"views.home.showProjectsICanEnroll" | translate}}</input>
			</div>
		</div>
	</div>
	
	<div class="project-block" ng-repeat="project in projects | filter:search | filter:tagFilter | filter:nonBackedFilter | filter:enrollFilter">
		<div ng-if="authenticated && (role === 'Docent')">
			<div class="project-block-title" >{{ project.title }}</div>
			<div ng-if="project.backingPct > 99" class="btn-success">{{ project.backingPct }} % Backed</div>
			<div ng-if="project.backingPct < 99 && project.backingPct > 5" class="btn-warning">{{ project.backingPct }} % Backed</div>
			<div ng-if="project.backingPct < 5" class="btn-danger">{{ project.backingPct }} % Backed</div>
		</div>
		
		<div ng-if="authenticated && (role === 'Student')">
			<div class="project-block-title" >{{ project.title }}</div>
			<div ng-if="(project.takenSeats / project.wantedSeats * 100) > 90" class="btn-danger">{{ project.wantedSeats - project.takenSeats }} {{"views.home.seatsAvailable" | translate}}</div>
			<div ng-if="(project.takenSeats / project.wantedSeats * 100) > 50 && (project.takenSeats / project.wantedSeats * 100) < 90" " class="btn-warning">{{ project.wantedSeats - project.takenSeats }} {{"views.home.seatsAvailable" | translate}}</div>
			<div ng-if="(project.takenSeats / project.wantedSeats * 100) > 0 && (project.takenSeats / project.wantedSeats * 100) < 50" class="btn-success">{{ project.wantedSeats - project.takenSeats }} {{"views.home.seatsAvailable" | translate}}</div>
		</div>
		
		<div class="row">
			<div class="col-md-5">
				<div class="project-block-media img-responsive img-rounded"
					ng-if="project.pictures[0].bytes == undefined"></div>
				<img class="project-block-media img-responsive img-rounded"
					ng-src="data:image/jpeg;base64, {{ project.pictures[0].bytes }}"
					ng-if="project.pictures[0].bytes !== undefined"
					style="margin-left: auto; margin-right: auto" />
			</div>
			<div class="col-md-7">
				<div class="project-block-label">{{"views.home.shortDescription"
					| translate}}</div>
				<div class="project-block-short-description">{{
					project.shortDescription }}</div>

				<div class="project-block-label col-xs-4">{{"views.home.createdBy"
					| translate}}</div>
				<div class="project-block-text col-xs-8">{{project.user.firstname
					+ ' ' + project.user.lastname}}</div>

				<div class="project-block-label col-xs-4">{{"views.home.startDate"
					| translate}}</div>
				<div class="project-block-text col-xs-8">{{project.startDate |
					date}}</div>
			</div>
			<div class="post-tag" ng-repeat="category in project.categories">{{
				category.description }}</div>
		</div>

		<div class="row">
			<div class="row col-xs-offset-2">
				<div ng-if="authenticated && project.liked"
					class="project-button glyphicon glyphicon-star col-xs-1"
					ng-click="likeClicked(project)"></div>
				<div ng-if="authenticated && !project.liked"
					class="project-button glyphicon glyphicon-star-empty col-xs-1"
					ng-click="likeClicked(project)"></div>
				<div ng-if="!authenticated"
					class="project-button glyphicon glyphicon-star col-xs-1"></div>

				<div ng-if="project.numberOfLikes" class="likes-number col-xs-2">{{project.numberOfLikes}}</div>
				<div ng-if="!project.numberOfLikes" class="likes-number col-xs-2">0</div>

				<button type="button"
					class="btn btn-warning btn-warning-detail col-xs-4 col-md-2 col-xs-offset-1 col-md-offset-2"
					ng-click="showDetails(project.projectId)">{{"views.home.details"
					| translate}}</button>
			</div>
		</div>
	</div>
</div>
