<div ng-if="authenticated" class="container">
    <h2>{{'views.newProject.pageTitle' | translate}}</h2>
    <form name="registrationForm">
        <div class="row">
            <div class="col-md-6">

                <div class="form-group">
                    <label class="required">{{'views.newProject.title' | translate}}</label>
                    <input required type="text" ng-model="project.title" class="form-control" placeholder="{{'views.newProject.title' | translate}}" minlength="2" maxlength="100" />
                </div>

                <div class="form-group">
                    <label class="required">{{'views.newProject.description' | translate}}</label>
                    <textarea required ng-model="project.description" class="form-control" rows="10" placeholder="{{'views.newProject.description' | translate}}" maxlength="1000"></textarea>
                </div>

                <div class="form-group">
                    <label class="required">{{'views.newProject.shortDescription' | translate}}</label>
                    <textarea required ng-model="project.shortDescription" class="form-control" rows="5" placeholder="{{'views.newProject.shortDescription' | translate}}" maxlength="200"></textarea>
                </div>
                
                <div class="form-group" ng-if="authenticated && (role === 'Docent')">
                    <label class="required">{{'views.newProject.public' | translate}}</label>
                    <input type="checkbox" ng-model="project.public" ng-checked="project.public" class="form-control" />
                </div>
                
                <div class="form-group">
                    <label class="required">{{'views.newProject.category' | translate}}</label>
						<tags-input ng-model="project.categories" add-on-paste="true" style="display:inline;">
					    	<auto-complete source="loadTags($query)"></auto-complete> 
					    </tags-input>
                </div>

                <div class="form-group">
                    <label class="required">{{'views.newProject.domain' | translate}}</label>
                    <select ng-options="domain as domain.name for domain in domains track by domain.domainId" ng-model="project.domain" required class="form-control"></select>
                </div>
                
                <div class="form-group">
                    <label class="required">{{'views.newProject.duration' | translate}}</label>
                    <input type="number" min="1" ng-model="project.duration" class="form-control" />
                </div>

            </div>

            <div class="col-md-6">
            
            	<!--Project pictures-->
                <div class="project-block">
                    <div class="project-block-label centerText">
                        <label>{{'views.newProject.pictures' | translate}}</label>
                    </div>
                    <div ng-repeat="picture in project.pictures">
                        <div class="form-horizontal">
                            <div class="col-md-10">
                                <input type="text" ng-model="picture.description" class="form-control"
                                       placeholder="{{'views.newProject.description' | translate}}"
                                       ng-minlength="2" ng-maxlength="500"/>
                            </div>
                            <div class="col-md-2">
                                <button ng-click="removePicture(picture)" class="btn btn-default"
                                        title="{{'views.newProject.delete' | translate}}">
                                    <i class="glyphicon glyphicon-trash"></i></button>
                            </div>
                        </div>
                        <div class="form-horizontal">
                            <div class="col-md-10">
                                <input type="file" id="project_picture_{{ $index }}" accept="image/*" ng-model="dummy"
                                   index="{{ $index }}" onchange="angular.element(this).scope().convertImage(this)"/>
                            </div>
                        </div>
                    </div>
                    <div class="centerText">
                        <button class="btn btn-primary btn-primary-detail" ng-click="addPicture()">
                            {{'views.newProject.addPicture' | translate}}
                        </button>
                    </div>
                </div>
                
                <!--Project movies-->
                <div class="project-block">
                    <div class="project-block-label centerText">
                        <label>{{'views.newProject.movies' | translate}}</label>
                    </div>
                    <div ng-repeat="movie in project.movies">
                        <div class="form-horizontal">
                            <div class="col-md-10">
                                <input type="text" ng-model="movie.description" class="form-control"
                                       placeholder="{{'views.newProject.description' | translate}}" ng-minlength="2" ng-maxlength="500"/>
                            </div>
                            <div class="col-md-2">
                                <button ng-click="removeMovie(movie)" class="btn btn-default" title="{{'views.newProject.delete' | translate}}">
                                    <i class="glyphicon glyphicon-trash"></i></button>
                            </div>
                        </div>
                        <div class="form-horizontal">
                            <div class="col-md-6">
                                <div class="add-project-label">https://www.youtube.com/watch?v=</div>
                            </div>
                            <div class="col-md-4">
                                <input type="text" ng-model="movie.youTubeCode" class="form-control" placeholder="youtube-id"
                                       ng-minlength="11" ng-maxlength="11"/>
                            </div>
                        </div>
                    </div>
                    <div class="centerText">
                        <button class="btn btn-primary btn-primary-detail" ng-click="addMovie()">
                            {{'views.newProject.addMovie' | translate}}
                        </button>
                    </div>
                </div>

                <!--Project milestones-->
                <div class="project-block">
                    <div class="project-block-label centerText">
                        <label>{{'views.newProject.milestones' | translate}}</label>
                    </div>
                    <div ng-repeat="milestone in project.milestones">
                        <div class="form-horizontal">
                            <div class="col-md-10">
                                <input type="text" ng-model="milestone.description" class="form-control"
                                       placeholder="{{'views.newProject.milestone' | translate}}"
                                       ng-minlength="2" ng-maxlength="500"/>
                            </div>
                            <div class="col-md-2">
                                <button ng-click="removeMilestone(milestone)" class="btn btn-default"
                                        title="{{'views.newProject.delete' | translate}}">
                                    <i class="glyphicon glyphicon-trash"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="centerText">
                        <button class="btn btn-primary btn-primary-detail" ng-click="addMilestone()">
                            {{'views.newProject.addMilestone' | translate}}
                        </button>
                    </div>
                </div>

                <!--Project subscribers-->
                <div class="project-block">
                    <div class="project-block-label centerText">
                        <label>{{'views.newProject.wantedSubscribers' | translate}}</label>
                    </div>
                    <div ng-repeat="subscriber in project.wantedSubscribers">
                        <div class="form-horizontal">
                            <div class="col-md-10">
                                <select class="form-control" ng-options="department as department.name for department in departments track by department.departmentId"
                                        ng-model="subscriber.department"></select>
                            </div>
                            <div class="col-md-2">
                                <button ng-click="removeSubscriber(subscriber)" class="btn btn-default" title="{{'views.newProject.delete' | translate}}">
                                    <i class="glyphicon glyphicon-trash"></i></button>
                            </div>
                        </div>
                        <div class="form-horizontal">
                            <div class="col-md-4">
                                <div class="add-project-label">{{'views.newProject.number' | translate}}</div>
                            </div>
                            <div class="col-md-6">
                                <input type="number" ng-model="subscriber.number" class="form-control" placeholder="{{'views.newProject.number' | translate}}" />
                            </div>
                        </div>
                    </div>
                    <div class="centerText">
                        <button class="btn btn-primary btn-primary-detail" ng-click="addWantedSubscriber()">
                            {{'views.newProject.addWantedSubscriber' | translate}}
                        </button>
                    </div>
                </div>

                <!--Project prezi-->
                <div class="project-block">
                    <div class="project-block-label centerText">
                        <label>{{'views.newProject.prezis' | translate}}</label>
                    </div>
                    <div ng-repeat="prezi in project.prezis">
                        <div class="form-horizontal">
                            <div class="col-md-10">
                                <input type="text" ng-model="prezi.description" class="form-control"
                                       placeholder="{{'views.newProject.description' | translate}}"
                                       ng-minlength="2" ng-maxlength="500"/>
                            </div>
                            <div class="col-md-2">
                                <button ng-click="removePrezi(prezi)" class="btn btn-default"
                                        title="{{'views.newProject.delete' | translate}}">
                                    <i class="glyphicon glyphicon-trash"></i></button>
                            </div>
                        </div>
                        <div class="form-horizontal">
                            <div class="col-md-5">
                                <div class="add-project-label">https://www.prezi.com/</div>
                            </div>
                            <div class="col-md-5">
                                <input type="text" ng-model="prezi.preziCode" class="form-control"
                                   placeholder="prezi-id" ng-minlength="5" ng-maxlength="100"/>
                            </div>
                        </div>
                    </div>
                    <div class="centerText">
                        <button class="btn btn-primary btn-primary-detail" ng-click="addPrezi()">
                            {{'views.newProject.addPrezi' | translate}}
                        </button>
                    </div>
                </div>

                <!--Project file-->
                <div class="project-block">
                    <div class="project-block-label centerText">
                        <label>{{'views.newProject.onlineFiles' | translate}}</label>
                    </div>
                    <div ng-repeat="file in project.onlineFiles">
                        <div class="form-horizontal">
                            <div class="col-md-10">
                                <input type="text" ng-model="file.description" class="form-control"
                                       placeholder="{{'views.newProject.description' | translate}}"
                                       ng-minlength="2" ng-maxlength="500"/>
                            </div>
                            <div class="col-md-2">
                                <button ng-click="removeFile(file)" class="btn btn-default"
                                        title="{{'views.newProject.delete' | translate}}">
                                    <i class="glyphicon glyphicon-trash"></i></button>
                            </div>
                        </div>
                        <div class="form-horizontal">
                            <div class="col-md-3">
                                <div class="add-project-label">URL:</div>
                            </div>
                            <div class="col-md-7">
                                <input type="text" ng-model="file.url" class="form-control"
                                   placeholder="url" ng-minlength="5" ng-maxlength="100"/>
                            </div>
                        </div>
                    </div>
                    <div class="centerText">
                        <button class="btn btn-primary btn-primary-detail" ng-click="addOnlineFile()">
                            {{'views.newProject.addOnlineFile' | translate}}
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-xs-offset-5">
                <button type="submit" class="btn btn-warning" ng-click="cancel()">{{'views.newProject.cancel' | translate}}</button>
                <button type="submit" class="btn btn-primary" ng-click="save()">{{'views.newProject.save' | translate}}</button>
                <button ng-if="authenticated && project.projectId>0 && (role === 'Docent' || (role === 'Student' && project.backingPct < 1))" type="button" class="btn btn-danger" ng-click="deleteProject()">{{"views.home.delete" | translate}}</button>
            </div>
        </div>
    </form>
    <br>
</div>