<div ng-if="loggedIn" class="container">
    <h2>{{'views.newProject.pageTitle' | translate}}</h2>

    <form name="registrationForm" role="form">
        <div class="row">
            <div class="col-md-9">

                <div class="form-group">
                    <label class="required">{{'views.newProject.title' | translate}}</label>
                    <input required type="text" ng-model="project.title" class="form-control" placeholder="{{'views.newProject.title' | translate}}" minlength="2" maxlength="100" />
                </div>

                <div class="form-group">
                    <label class="required">{{'views.newProject.description' | translate}}</label>
                    <textarea required ng-model="project.description" class="form-control" rows="10" placeholder="{{'views.newProject.description' | translate}}" maxlength="1000"></textarea>
                </div>

                <div class="form-group">
                    <label class="required">{{'views.newProject.shortDescription' | translate}}</label>
                    <textarea required ng-model="project.shortDescription" class="form-control" rows="5" placeholder="{{'views.newProject.shortDescription' | translate}}" maxlength="200"></textarea>
                </div>
               
                <button type="submit" class="btn btn-warning" ng-click="cancel()">{{'views.newProject.cancel' | translate}}</button>
                <button type="submit" class="btn btn-primary" ng-click="save()" ng-disabled="registrationForm.$invalid">{{'views.newProject.save' | translate}}</button>
            </div>
        </div>
    </form>
</div>