<!DOCTYPE html>
<html lang="en" ng-app="iTalentApp">
<head>
    <meta charset="UTF-8">
    <title>iTalent</title>

	<!-- Favicon for FF, Chrome, Opera -->
	<link rel="icon" type="image/png" href="/images/favicon-16x16.png" sizes="16x16">
	<link rel="icon" type="image/png" href="/images/favicon-32x32.png" sizes="32x32">
	<!-- Favicon for IE -->
	<link rel="icon" type="image/x-icon" href="/images/favicon.ico" >
	<link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico"/>
	
    <!-- Bootstrap -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">

    <!-- Tags-input -->
    <link rel="stylesheet" href="bower_components/ng-tags-input/ng-tags-input.min.css">
    <link rel="stylesheet" href="bower_components/ng-tags-input/ng-tags-input.bootstrap.min.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/italent.css">
    
    <!-- Social share -->
    <link rel="stylesheet" href="bower_components/bootstrap-social/bootstrap-social.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">

    <!-- Toasts -->
    <link rel="stylesheet" type="text/css" href="bower_components/angular-toastr/dist/angular-toastr.css">
</head>

<body ng-app="iTalentApp" class="ng-cloak">
<div class="navbar-brand navbar_image">
    <a href="#"><img src="images/favicon-96x96.png"></a>
</div>
<div class="header navbar_custom">
    <div class="navbar navbar-inverse" ng-controller="headerController">
        <div class="container-fluid ">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-italent">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">iTalent PXL</a>
            </div>

            <div class="collapse navbar-collapse" id="navbar-italent">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#/home">{{"views.index.projects" | translate}}<span class="caret"></span></a>
                        <ul class="dropdown-menu dropdown_custom">
                            <li ng-if="authenticated" ng-class="{ active: isActive('/myProjects')}"><a href="#/myProjects">{{"views.index.myProjects" | translate}}</a></li>
                            <li ng-if="authenticated && (role === 'Student' || role === 'Docent')" ng-class="{ active: isActive('/newProject')}"><a href="#/newProject">{{"views.index.newProject" | translate}}</a></li>
                            <li ng-class="{ active: isActive('/archive')}"><a href="#/archive">{{"views.index.archive" | translate}}</a></li>
                        </ul>
                    </li>
                    <li ng-if="authenticated && role === 'Docent'" ng-class="{ active: isActive('/category')}"><a href="#/category">{{"views.index.categories" | translate}}</a></li>
                    <li ng-class="{ active: isActive('/about')}"><a href="#/about">{{"views.index.about" | translate}}</a></li>
                </ul>
                <ul ng-controller="loginController" class="nav navbar-nav navbar-right">
                	<li><div id="languageSelect"  ng-translate-language-select></div></li>
                    <li ng-if="authenticated"><a href="#" ng-click="logout()"  id="logButtonColor"><span class="glyphicon glyphicon-log-out"></span> {{"views.index.logout" | translate}} {{user.displayName}}</a></li>
                    <li ng-if="!authenticated"><a href="#/login" id="logButtonColor"><span class="glyphicon glyphicon-log-in"></span> {{"views.index.login" | translate}}</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="page" ng-view></div>
<footer>
</footer>
</body>

<!-- Vendor scripts -->
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="bower_components/underscore/underscore.js"></script>
<script src="bower_components/angular-translate/angular-translate.js"></script>
<script src="bower_components/angular-cookies/angular-cookies.js"></script>
<script src="bower_components/angular-dynamic-locale/dist/tmhDynamicLocale.js"></script>
<script src="bower_components/angular-translate-handler-log/angular-translate-handler-log.js"></script>
<script src="bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.js"></script>
<script src="bower_components/angular-translate-storage-local/angular-translate-storage-local.js"></script>
<script src="bower_components/angular-translate-storage-cookie/angular-translate-storage-cookie.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/ng-tags-input/ng-tags-input.min.js"></script>
<script src="bower_components/angular-socialshare/dist/angular-socialshare.min.js"></script>
<script src="bower_components/angular-toastr/dist/angular-toastr.tpls.js"></script>

<!-- Custom scripts -->
<script src="scripts/app.js"></script>
<script src="scripts/constants/appConstants.js"></script>
<script src="scripts/services/localeService.js"></script>
<script src="scripts/services/userService.js"></script>
<script src="scripts/services/projectService.js"></script>
<script src="scripts/services/likeService.js"></script>
<script src="scripts/services/commentService.js"></script>
<script src="scripts/services/subscriberStudentService.js"></script>
<script src="scripts/services/subscriberDocentService.js"></script>
<script src="scripts/services/categoryService.js"></script>
<script src="scripts/services/departmentService.js"></script>
<script src="scripts/services/domainService.js"></script>
<script src="scripts/directives/languageSelectDirective.js"></script>
<script src="scripts/directives/prezi_player.js"></script>
<script src="scripts/controllers/headerController.js"></script>
<script src="scripts/controllers/loginController.js"></script>
<script src="scripts/controllers/homeController.js"></script>
<script src="scripts/controllers/detailController.js"></script>
<script src="scripts/controllers/myProjectsController.js"></script>
<script src="scripts/controllers/newProjectController.js"></script>
<script src="scripts/controllers/categoryController.js"></script>

</html>