<!DOCTYPE html>
<html lang="en" ng-app="iTalentApp">
<head>
    <meta charset="UTF-8">
    <title>iTalent</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/italent.css">
</head>

<body ng-app="iTalentApp" class="ng-cloak">
<div class="header">
    <div class="navbar navbar-default" ng-controller="headerController">
        <div class="container-fluid">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-italent">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand">iTalent PXL</a>
            </div>

            <div class="collapse navbar-collapse" id="navbar-italent">
                <ul class="nav navbar-nav">
                    <li ng-class="{ active: isActive('/home')}"><a href="#/home">{{"views.index.projects" | translate}}</a></li>
                    <li ng-if="loggedIn" ng-class="{ active: isActive('/myProjects')}"><a href="#/myProjects">{{"views.index.myProjects" | translate}}</a></li>
                    <li ng-if="loggedIn" ng-class="{ active: isActive('/newProject')}"><a href="#/newProject">{{"views.index.newProject" | translate}}</a></li>
                    <li ng-if="loggedIn" ng-class="{ active: isActive('/categories')}"><a href="#/category">{{"views.index.categories" | translate}}</a></li>
                    <li ng-class="{ active: isActive('/about')}"><a href="#/about">{{"views.index.about" | translate}}</a></li>
                </ul>
                <ul ng-controller="loginController" class="nav navbar-nav navbar-right">
                	<li><div ng-translate-language-select></div></li>
                    <li ng-if="loggedIn"><a href="#" ng-click="logout()"><span class="glyphicon glyphicon-log-out"></span> {{"views.index.logout" | translate}} {{user.displayName}}</a></li>
                    <li ng-if="!loggedIn"><a href="#/login"><span class="glyphicon glyphicon-log-in"></span> {{"views.index.login" | translate}}</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="page" ng-view></div>
<footer>
	<!-- <p>Upgrade to Spring BOOT</p> -->
</footer>
</body>

<!-- Vendor scripts -->
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="bower_components/underscore/underscore.js"></script>
<script src="bower_components/angular-translate/angular-translate.js"></script>
<script src="bower_components/angular-cookies/angular-cookies.js"></script>
<script src="bower_components/angular-dynamic-locale/dist/tmhDynamicLocale.js"></script>
<script src="bower_components/angular-translate-handler-log/angular-translate-handler-log.js"></script>
<script src="bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.js"></script>
<script src="bower_components/angular-translate-storage-local/angular-translate-storage-local.js"></script>
<script src="bower_components/angular-translate-storage-cookie/angular-translate-storage-cookie.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>

<!-- Custom scripts -->
<script src="scripts/app.js"></script>
<script src="scripts/constants/appConstants.js"></script>
<script src="scripts/services/localeService.js"></script>
<script src="scripts/services/userService.js"></script>
<script src="scripts/services/projectService.js"></script>
<script src="scripts/services/likeService.js"></script>
<script src="scripts/services/subscriberStudentService.js"></script>
<script src="scripts/services/subscriberDocentService.js"></script>
<script src="scripts/services/categoryService.js"></script>
<script src="scripts/services/departmentService.js"></script>
<script src="scripts/directives/languageSelectDirective.js"></script>
<script src="scripts/controllers/headerController.js"></script>
<script src="scripts/controllers/loginController.js"></script>
<script src="scripts/controllers/homeController.js"></script>
<script src="scripts/controllers/detailController.js"></script>
<script src="scripts/controllers/myProjectsController.js"></script>
<script src="scripts/controllers/newProjectController.js"></script>
<script src="scripts/controllers/categoryController.js"></script>

</html>