<!DOCTYPE html>
<html lang="en" ng-app="iTalentApp">
<head>
    <meta charset="UTF-8">
    <title>iTalent App</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/italent.css">
</head>

<body ng-app="iTalentApp" class="ng-cloak">

<div>
    <div class="navbar navbar-default">
        <div class="container-fluid">

            <div class="navbar-header">
                <a class="navbar-brand">iTalent PXL</a>
            </div>

            <div ng-if="loggedIn" class="collapse navbar-collapse navbarCollapse" ng-controller="loginController">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#" ng-click="logout()">Logout {{user.displayName}}</a></li>
                </ul>
            </div>

            <div ng-if="!loggedIn" class="collapse navbar-collapse navbarCollapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#/login">Login</a></li>
                </ul>
            </div>
        </div>

    </div>
</div>

    <div ng-view></div>
</body>

<!-- Vendor scripts -->
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="bower_components/underscore/underscore.js"></script>

<!-- Custom scripts -->
<script src="scripts/app.js"></script>
<script src="scripts/constants/appConstants.js"></script>
<script src="scripts/services/userService.js"></script>
<script src="scripts/services/projectService.js"></script>
<script src="scripts/controllers/loginController.js"></script>
<script src="scripts/controllers/homeController.js"></script>
<script src="scripts/controllers/detailController.js"></script>

</html>
