<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:c="http://www.springframework.org/schema/c"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:tx="http://www.springframework.org/schema/tx" xmlns:security="http://www.springframework.org/schema/security"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
		http://www.springframework.org/schema/security  http://www.springframework.org/schema/security/spring-security.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
	<context:component-scan base-package="be.italent"></context:component-scan>
	<mvc:annotation-driven />
	<!-- 	datasource -->
	<bean id="ds" class="org.apache.commons.dbcp.BasicDataSource">
		<!-- <property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://${env.OPENSHIFT_MYSQL_DB_HOST}:${env.OPENSHIFT_MYSQL_DB_PORT}/${env.OPENSHIFT_APP_NAME}" />
		<property name="username" value="$OPENSHIFT_MYSQL_DB_USERNAME" />
		<property name="password" value="$OPENSHIFT_MYSQL_DB_PASSWORD" />-->
		
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://127.8.154.2:3306/italent" />
		<property name="username" value="adminkgnI5Nk" />
		<property name="password" value="HiGAW1BJfshb" />
		
		
		<!-- <property name="auth" value="Container" />
		<property name="type" value="javax.sql.DataSource" />
		<property name="maxActive" value="20" />
		<property name="maxIdle" value="5" />
		<property name="maxWait" value="10000" /> -->
	</bean>
	
	<bean id="emf"
		class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<property name="persistenceUnitName" value="italent" />
		<property name="dataSource" ref="ds" />
		<property name="persistenceProvider">
			<bean class="org.hibernate.ejb.HibernatePersistence" />
		</property>
	</bean>

	<bean id="tm" class="org.springframework.orm.jpa.JpaTransactionManager">
		<property name="entityManagerFactory" ref="emf" />
	</bean>

	<tx:annotation-driven transaction-manager="tm" />
	
	<!-- Omzetten naam van de view -->
	<bean id="viewResolver"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/pages/" />
		<property name="suffix" value=".jsp" />
	</bean>
	<!-- Internationalization -->
	<bean id="messageSource"
		class="org.springframework.context.support.ResourceBundleMessageSource">
		<property name="basename" value="messages" />
	</bean>
	<bean id="localeResolver"
		class="org.springframework.web.servlet.i18n.CookieLocaleResolver">
		<property name="cookieMaxAge" value="10000" />
	</bean>
	<!-- Picture upload... -->
	<bean id="multipartResolver"
        class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
 
         <!-- setting maximum upload size -->
        <property name="maxUploadSize" value="10000000" />
 
    </bean>
	<bean id="exceptionResolver" class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">
		<property name="exceptionMappings">
			<props>
				<prop key="java.lang.Exception">Error</prop>
			</props>
		</property>
	</bean>
	<mvc:interceptors>
		<bean id="localeChangeInterceptor"
			class="org.springframework.web.servlet.i18n.LocaleChangeInterceptor">
			<property name="paramName" value="language" />
		</bean>
	</mvc:interceptors>

	<bean id="encoder" class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder">
		<constructor-arg name="strength" value="14" />
    </bean>
	
	<security:authentication-manager>
		<security:authentication-provider>
			<security:password-encoder ref="encoder" />
			<security:jdbc-user-service
				data-source-ref="ds"
				users-by-username-query="select username, password, confirmed from User where binary username=?"
				authorities-by-username-query="select username, role from UserRole where binary username=?" />
		</security:authentication-provider>
	</security:authentication-manager>

	<security:global-method-security secured-annotations="enabled" />

	<security:http auto-config="true">
		<security:http-basic />
		<security:form-login login-page="/login.htm" always-use-default-target="true" 
               authentication-failure-url="/login.htm?login_error=true"
               default-target-url="/postLogin.htm"/>
        <!--<security:intercept-url pattern="/account.htm" access="ROLE_Member" requires-channel="https"/>      
        
        <security:intercept-url pattern="/sudo.htm" access="ROLE_Sudo" requires-channel="https"/>
		
		<security:remember-me/>-->
		
		
		<!-- <security:session-management session-fixation-protection="migrateSession" session-authentication-error-url="/login.jsp?authFailed=true"> 
            <security:concurrency-control max-sessions="5" error-if-maximum-exceeded="true" expired-url="/login.html" session-registry-alias="sessionRegistry"/>
        </security:session-management> -->
        
	</security:http>
	
</beans>
